<form ng-controller="FlashFormController" name="FlashForm" novalidate ng-submit="FlashForm.$valid && submitFlashForm(formObj)">
<!-- <pre>{{ formObj | json }}</pre>> -->
<label>Question</label><br/>
<input name="question" size="50" type="text" ng-model="formObj.question" required ng-minlength="10">
<span class="error" ng-show="FlashForm.question.$invalid && FlashForm.question.$touched">Question is not valid</span>
<br/>

<label>Category</label><br/>
<select name="category" type="text" ng-model="formObj.category" required>
<option>MongoDB</option>
<option>Express</option>
<option>Angular</option>
<option>Node</option>
</select>
<span class="error" ng-show="FlashForm.category.$invalid && FlashForm.category.$touched">Please pick a category</span>
<br/>
Answers: <br/>

<div ng-repeat="n in [0, 1, 2]">
  <label>{{n+1}}.</label>
  <input size="50" type="text" ng-model="formObj.answers[n].text" required> 
  <label>True</label><input type="radio" ng-model="formObj.answers[n].correct" ng-value="true" ng-change="changeAnswer(n)"> 
  <label>False</label><input type="radio" ng-model="formObj.answers[n].correct" ng-value="false"><br/>
</div>

<input type="submit" value="Save">
</form>